* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    background: white;
    font-family: 'Montserrat', serif;
}

body {
    background: linear-gradient(to bottom, #f0f8ff, #fff);
}

body header {
    position: relative;
    padding: 10vh 0;
    text-align: center;
    color: #36425b;
}

body header h1 {
    font-size: 3.5em;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

body header a {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.8em;
    color: white;
    margin-top: 5vh;
    padding: 0.75em 1.25em;
    transition: 0.3s all;
    background: #4285f4;
    border-radius: 50em;
    box-shadow: 0 0.15em 0.5em rgba(66, 133, 244, 0.75);
    font-family: 'Montserrat', sans-serif;
}

body header a:hover {
    background: #4291f6;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main > section {
    margin-bottom: 3em;
}

main > section > h3 {
    font-weight: 600;
    font-size: 1.2em;
    color: #36425b;
    text-align: center;
    margin-bottom: 0.5em;
}

main > section > button {
    border: none;
    background: #3498db;
    padding: 0.5em 0.75em;
    color: white;
    outline: none;
}

main > section > div {
    padding: 2em 4em;
    background: #2c3e50;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s 0.3s;
}

main > section > div.visible {
    transition: opacity 0.3s;
    visibility: visible;
    opacity: 1;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1000px) {
    body header {
        font-size: 0.6em;
        padding: 7vh 0;
    }

    body header a {
        padding: 1em 2em;
        font-weight: 600;
        font-size: 1.05em;
    }
}
